parameters:
	ignoreErrors:
		-
			message: '#^Method Awcodes\\Overlook\\OverlookPlugin\:\:get\(\) should return static\(Awcodes\\Overlook\\OverlookPlugin\) but returns Filament\\Contracts\\Plugin\|Filament\\FilamentManager\.$#'
			identifier: return.type
			count: 1
			path: src/OverlookPlugin.php
